# Виртуальное окружение
.venv/
venv/
env/

# Poetry
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Переменные окружения и ключи
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Данные 
data/
*.csv
*.json

# Лог-файлы 
*.log
logs/